.container {
    min-height: calc(100vh - 30px);
    /* max-height: calc(100vh - 30px); */
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;
    background: linear-gradient(217deg, rgba(219,132,185,.9), rgba(255,0,0,0) 40.71%),
                linear-gradient(127deg, rgba(82,87,177,.9), rgba(0,255,0,0) 90.71%),
                linear-gradient(336deg, rgba(67,30,123,.9), rgba(0,0,255,0) 80.71%),
                linear-gradient(45deg, rgba(219,132,185,.9), rgba(255,0,0,0) 80.71%);
}

.title {
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-align: center;
}

.subtitle {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-align: center;
}

.subtitle:hover {
    color: rgb(230, 230, 230);
}